.new_game_btn {
  margin-top: 20px;
  font-weight: bold;
  padding: 20px 50px;
  font-size: 24px;
  background-color: #673ab7;
  color: #fff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background-color: lighten(#673ab7, 5);
  }
}
